---
 const personalImageAlt = "Reda Ezziani"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
    <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
>
      <p>
        My name is Reda Ezziani and I'm 21 years old from Morocco. I have a certificate from OFPPT as a <strong> Technician specialized in Digital Development</strong>, focusing on Information Technology and software development. Currently, I work as a freelancer creating beautiful websites. I enjoy teamwork, communication, and drawing.
      </p>
  
      <p>
        Some of my achievements include developing websites that enhance user experience and functionality. I strive to bring creativity and innovation to every project I work on.
      </p>
  
      <p>
        As a freelancer, <strong>I find joy in collaborating with clients </strong> to bring their visions to life through web design and development. I believe in continuous learning and improving my skills to stay updated with the latest technologies.
      </p>
    </div>
  
    <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20" style="object-position: 50% 50%;">
  </article>
  
